<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
        <sectionGroup name="applicationSettings" type="System.Configuration.ApplicationSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
            <section name="jfgSchedule.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false" />
        </sectionGroup>
    </configSections>
    <connectionStrings>
        <add name="jfgSchedule.Properties.Settings.JFG_MSTConnectionString"
            connectionString="Data Source=192.168.1.51\SQLEXPRESS,1433;Initial Catalog=JFG_MST;Persist Security Info=True;User ID=jfg210915; Password=jfgpass"
            providerName="System.Data.SqlClient" />
    </connectionStrings>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5" />
    </startup>
    <applicationSettings>
        <jfgSchedule.Properties.Settings>
            <setting name="xlsxPath" serializeAs="String">
                <value>C:\JFGOneDrive\</value>
            </setting>
            <setting name="logFileName" serializeAs="String">
                <value>Log.txt</value>
            </setting>
            <setting name="xlsKadouPath" serializeAs="String">
                <value>C:\JFGWORKS\稼働予定表Temp.xlsx</value>
            </setting>
            <setting name="xlsWorksPath" serializeAs="String">
                <value>C:\JFGWORKS\稼働予定表.xlsx</value>
            </setting>
            <setting name="xlsTempPath" serializeAs="String">
                <value>C:\JFGWORKS\ワークシート.xlsx</value>
            </setting>
            <setting name="ServerName" serializeAs="String">
                <value>YMGW-PC\SQLEXPRESS</value>
            </setting>
            <setting name="Login" serializeAs="String">
                <value>sa</value>
            </setting>
            <setting name="Pass" serializeAs="String">
                <value>sqlpass</value>
            </setting>
            <setting name="Database" serializeAs="String">
                <value>JFG_MST</value>
            </setting>
            <setting name="xlsHotelsWorksPath" serializeAs="String">
                <value>C:\JFGWORKS\ホテル向けガイド稼働予定表.xlsx</value>
            </setting>
            <setting name="xlsHotelGuideListPath" serializeAs="String">
                <value>C:\JFGWORKS\ホテル向けガイドリスト(英語) 2022.xlsx</value>
            </setting>
            <setting name="xlsNewHotelGuideListPath" serializeAs="String">
                <value>C:\JFGWORKS\新ホテル向けガイドリスト.xlsx</value>
            </setting>
            <setting name="xlsHotelKadouPath" serializeAs="String">
                <value>C:\JFGWORKS\ホテル稼働予定表Temp.xlsx</value>
            </setting>
            <setting name="xlsPasswordHotel" serializeAs="String">
                <value>hotel2023</value>
            </setting>
            <setting name="assignYear1" serializeAs="String">
                <value>2019</value>
            </setting>
            <setting name="assignYear2" serializeAs="String">
                <value>2020</value>
            </setting>
            <setting name="assignYear3" serializeAs="String">
                <value>2022</value>
            </setting>
            <setting name="xlsTourGuideListPath" serializeAs="String">
                <value>C:\JFGWORKS\ツアー向けガイドリスト2023.xlsx</value>
            </setting>
            <setting name="xlsTourWorksPath" serializeAs="String">
                <value>C:\JFGWORKS\ツアー向けガイド稼働予定表.xlsx</value>
            </setting>
            <setting name="xlsPasswordTour" serializeAs="String">
                <value>tour2023</value>
            </setting>
        </jfgSchedule.Properties.Settings>
    </applicationSettings>
</configuration>